/* Table of content  
---------------------------------------------------
01. Body
02. Typogaphy
03. Header
04. Main
05. Footer
06. Utilities
--------------------------------------------------- */
/* 01. Body 
--------------------------------------------------- */
@import 'https://fonts.googleapis.com/css?family=Muli:400,400i,600,600i,700,700i';
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  background: #ffffff;
  color: #8c8c8c;
  margin: 0;
  padding: 0; }

a {
  color: #222222;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  a:hover {
    color: #010101;
    text-decoration: none; }

/* 02. Typography 
--------------------------------------------------- */
@font-face {
  font-family: 'Sofia Pro';
  src: url("../assets/fonts/sofiapro/regular.eot");
  src: url("../assets/fonts/sofiapro/regular.eot") format("embedded-opentype"), url("../assets/fonts/sofiapro/regular.ttf") format("truetype"), url("../assets/fonts/sofiapro/regular.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Sofia Pro';
  src: url("../assets/fonts/sofiapro/medium.eot");
  src: url("../assets/fonts/sofiapro/medium.eot") format("embedded-opentype"), url("../assets/fonts/sofiapro/medium.ttf") format("truetype"), url("../assets/fonts/sofiapro/medium.woff") format("woff");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Sofia Pro';
  src: url("../assets/fonts/sofiapro/bold.eot");
  src: url("../assets/fonts/sofiapro/bold.eot") format("embedded-opentype"), url("../assets/fonts/sofiapro/bold.ttf") format("truetype"), url("../assets/fonts/sofiapro/bold.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

body {
  font: 400 15px "Sofia Pro", sans-serif;
  line-height: 1.815;
  letter-spacing: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

h1,
h2,
h3,
h4,
h5,
h6,
.uk-h1,
.uk-h2,
.uk-h3,
.uk-h4,
.uk-h5,
.uk-h6 {
  font-family: "Sofia Pro", sans-serif;
  font-weight: 400;
  color: #222222;
  letter-spacing: .1px;
  text-transform: unset;
  font-style: normal; }

/* 03. Header
--------------------------------------------------- */
.site-header {
  background: #1e87f0;
  position: relative;
  display: block; }
  .site-header .header-inner {
    height: 80px; }
    .site-header .header-inner .site-logo {
      font-size: 16pt;
      font-weight: 700;
      margin: 0; }
      .site-header .header-inner .site-logo span {
        font-size: 14px;
        font-weight: 400;
        padding-left: 1rem;
        margin-left: 1rem;
        border-left: 1px rgba(233, 236, 239, 0.5) solid;
        color: #fff; }
    .site-header .header-inner .primary-menu {
      font-size: 15px;
      font-weight: 400;
      letter-spacing: .02rem; }
      .site-header .header-inner .primary-menu > .menu {
        list-style: none;
        padding: 0;
        margin: 0; }
        .site-header .header-inner .primary-menu > .menu > li {
          display: inline-block;
          margin-left: 2rem; }
          .site-header .header-inner .primary-menu > .menu > li:first-child {
            margin-left: 0; }
    .site-header .header-inner .mobile-menu {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      position: relative; }
      .site-header .header-inner .mobile-menu .trigger {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        height: 30px;
        margin-left: 2rem;
        cursor: pointer; }
        .site-header .header-inner .mobile-menu .trigger div {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column; }
          .site-header .header-inner .mobile-menu .trigger div span {
            width: 26px;
            display: block;
            height: 1px;
            background-color: #fff;
            margin: 3px 0;
            -webkit-transition: all 0.2s ease-in-out;
            -o-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out; }

/* 04. Main
--------------------------------------------------- */
.site-main p {
  font-family: "Muli", sans-serif; }

.site-main table td {
  font-family: "Muli", sans-serif;
  font-size: 13px; }

.site-sidebar {
  border-right: 1px solid #ececec; }
  .site-sidebar > div {
    padding-right: 30px; }
    .site-sidebar > div .uk-nav-default > li > a {
      margin: 5px 0; }
    .site-sidebar > div .uk-nav-default > li.uk-active > a {
      color: #333;
      padding-left: 10px;
      padding-right: 10px; }

/* 05. Footer
--------------------------------------------------- */
.site-footer {
  border-top: 1px solid #edf0f0;
  font-size: 14px;
  text-align: center; }

/* 06. Utilities
--------------------------------------------------- */
.uk-button {
  text-transform: capitalize;
  font-weight: 700; }

.uk-section-primary,
.uk-background-primary {
  background: #010101; }

.uk-section-secondary,
.uk-background-secondary {
  background: #010101; }

.uk-section-muted {
  background: #f4f8f8; }

.uk-section-border {
  border-bottom: 1px solid #edf0f0; }

.uk-h1,
.uk-h2,
.uk-h3,
.uk-h4,
.uk-h5,
.uk-h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 10px; }

* + p,
* + pre,
* + ul {
  margin-top: 10px; }

pre.prettyprint {
  background-color: #f8f8f8;
  font: 12px / 1.5 'Roboto Mono', monospace;
  color: #666;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  overflow: auto;
  padding: 25px;
  margin: 30px 0;
  border: 0 solid #e5e5e5;
  border-radius: 0;
  background: #f8f8f8; }

:not(pre) > code,
:not(pre) > kbd,
:not(pre) > samp {
  font-family: 'Roboto Mono', monospace;
  font-size: 12px;
  color: #f0506e;
  white-space: nowrap;
  padding: 2px 6px;
  background: #f8f8f8; }

.typ,
.atn,
.dec,
.var {
  color: #795da3; }

.str,
.atv {
  color: #f0506e; }

.tag {
  color: #63a35c; }

#loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 999999; }
  #loader .loading,
  #loader .loading > div {
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  #loader .loading {
    display: block;
    font-size: 0;
    color: #010101;
    width: 40px;
    height: 40px; }
    #loader .loading > div {
      display: inline-block;
      float: none;
      border: 3px solid;
      width: 40px;
      height: 40px;
      background: transparent;
      border-bottom-color: transparent;
      border-radius: 100%;
      -webkit-animation: loading .75s linear infinite;
      -moz-animation: loading .75s linear infinite;
      -o-animation: loading .75s linear infinite;
      animation: loading .75s linear infinite; }

@-webkit-keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  50% {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  50% {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
